build/
.gradle/
*.user
*.suo
bin/
obj/
.vs/
packages/
gen-csharp/
*.avpr
TestResults/
*.sln.cache
_ReSharper.*
build.log.txt
distzip
*/Thumbs.db
*.ReSharper
Temp/
.metadata
*.dbmdl
.git
.idea
*.jar
*.nupkg

*.sw[op]
.idea
Config/*.config
appsettings.Development.json
projects/Ntent.SearchUI/Content/**/*.css
projects/Ntent.SearchUI/SportsTab/sports.css
projects/Ntent.SearchUI/Content/Google/font.css
projects/Ntent.SearchUI/Content/site.css
projects/Ntent.SearchUI/build/
projects/Ntent.SearchUI/dist/
projects/Ntent.SearchUI/node_modules/
*.suo
*.user
*.sln.cache
_ReSharper.*
*.jar
*.nupkg

AppSettings.config

*.code-workspace

projects/Ntent.SearchUI/Views/Home/Sports.cshtml
projects/Ntent.SearchUI/Views/Home/Index.cshtml

**/ntent.environment.gradle
switcher.json
